h1 {
    font-family: 'Butler';
    font-size: 30px;
    color: #f6a2b6;
    text-align: center;
    }

h3 {
    font-family: 'Butler';
    font-size: 20px;
    color: #db6a85;
    text-align: center;
    }

h2 {
    font-family: 'Butler';
    font-size: 50px;
    color: #F490A8;
    text-align: center;
    }

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255,255,255,0.1);
    border: 2px solid #65313D;
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
    }

button{
    padding: 12px;
    font-size: 16px;
    background-color: #E9204F;
    color: white;
    border-radius: 4px;
    }

button:hover{
    background-color: #FF5A7D;
    color: white;
    }

label {
    font-family: 'Futura';
    font-size: 15px;
    color: #9e8b7c;
    }

body {
    background-image: url("picture/login photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    }
