h1 {
    font-family: 'Butler';
    font-size: 30px;
    color: #f6a2b6;
    text-align: center;
    }

h3 {
    font-family: 'Butler';
    font-size: 20px;
    color: #f9bfcd;
    text-align: center;
    }

h2 {
    font-family: 'Butler';
    font-size: 50px;
    color: #F490A8;
    text-align: center;
    }

form {
    font-family: 'Butler';
    font-size: 20px;
    color: #fffdfd;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255,255,255,0.1);
    border: 2px solid silver;
    border-radius: 5px;
    flex-direction: column;
    }

button{
    padding: 12px;
    font-size: 16px;
    background-color: #E9204F;
    color: white;
    border-radius: 4px;
    }

button:hover{
    background-color: #FF5A7D;
    color: white;
    }

body {
    background-image: url("picture/Register.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-color: #000;
    }
