header {
    background-color: hotpink;
    color: black;
    padding: 0px;
    }

.request-form {
    background-color: pink;
    white-space: normal;
    text-align: justify;
    text-align-last: center;
    }
