h2 {
    font-family: 'Butler';
    font-size: 30px;
    color: black;
    text-align: center;
    }

form {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
    }

label {
    display: block;
    margin-bottom: 8px;
    }

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    }
