body {
    font-family: Futura, sans-serif !important;
    background-color: #fbe5e3;

}

h1 {
    font-family: 'Butler';
    font-size: 30px;
    
    text-align: center;
    margin-bottom: 10px;
    }

form {
    max-width: 400px;
    margin: 0 auto;
    }

label {
    display: block;
    margin-bottom: 8px;
    }

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    }
header {
        background-color: #f17492;
        color: #fef1f4;
        text-align: center;
        padding: 20px 0;
    }
button {
    margin-right: 10px;
    padding: 12px;
    font-size: 16px;
    background-color: #E9204F;
    color: white;
    border-radius: 4px;
    }

button:hover{
    background-color: #FF5A7D;
    color: white;
    }
    body {
        margin: 0;
        padding: 0;
    }
    
    .navibar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #F9B9C3;
    }
    
    .navibar a {
        float: left;
        display: block;
        color: #333;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .navibar a.right {
        float: right;
    }
    
    .navibar a:hover {
        background-color: #C7949C;
        color: white;
    }
    