body {
    font-family: Futura, sans-serif !important;
    background-color: #fbe5e3;

}

h1 {
    font-family: 'Butler';
    font-size: 30px;
    color: black;
    text-align: center;
    margin-bottom: 10px;
    }

form {
    max-width: 400px;
    margin: 0 auto;
    }

label {
    display: block;
    margin-bottom: 8px;
    }

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    }

button {
    margin-right: 10px;
    padding: 12px;
    font-size: 16px;
    background-color: #E9204F;
    color: white;
    border-radius: 4px;
    }

button:hover{
    background-color: #FF5A7D;
    color: white;
    }
