h1 {
    font-size: 30px;
    font-family: 'Butler';
    text-align: center;
    color: black;
    }

.box {
    display: block; 
    width: 20%; 
    margin: 20px auto; 
    border: 1px solid silver;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    text-align: left;
    align-items: center;
    justify-content: center;
    }

.edit-button {
    padding: 12px;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    }

.edit-button:hover {
    background-color: black;
    color: yellow;
    }
