h1 {
    font-size: 30px;
    font-family: 'Butler';
    text-align: center;
    color: black;
}

body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    }

.box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    }
    
.column {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    }
