body,ul {
    margin: 0;
    padding: 0;
}

.navibar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F9B9C3;
}

.navibar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navibar a.right {
    float: right;
}

.navibar a:hover {
    background-color: #C7949C;
    color: white;
}
body {
    font-family: Butler, sans-serif !important;
}

.background-image {
    background-image: url('/picture/barbie.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

header {
    background-color: #f17492;
    color: #fef1f4;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

p{
    font-family: "Futura ", monospace;
}
img{
    width: 40%;
    height: 100%;
    float: left;
}

.button {
    background-color: #E9204F;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    margin: 20px;
    
    
}

.button-container{
    display: flex;
    gap: 5px;
    margin-left: 50%;
   
    
}

.button:hover {
    background-color: #FF5A7D; /* Highlight color on hover */
}

.function{
    height: 40%;
}

#transport-database{
    background-color: #fee7eb;
}
#manage-transport-booking{
    background-color: #f0e4da;
}
.function-text{
    padding-top: 10px;
    padding-left: 20px;
   
}