body,ul {
    margin: 0;
    padding: 0;
}

.navibar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F9B9C3;
    font-family: Butler, sans-serif !important;
}

.navibar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navibar a.right {
    float: right;
}

.navibar a:hover {
    background-color: #C7949C;
    color: white;
}
body {
    font-family: Butler, sans-serif !important;
    background-color: #FBE5E3;
}

.background-image {
    background-image: url('/picture/barbie.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

header {
    background-color: #f17492;
    color: #fef1f4;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-weight:bold ;
}

p{
    font-family: "Futura ", monospace;
}


.button-container{
    display: flex;
    gap: 5px;
    margin-left: 50%;
   
    
}



form label {
    display: block;
    margin-bottom: 10px; 
    margin-top: 10px;
    font-weight: bold;
}

form input[type="text"] {
    resize: none;
    width: 300px;
    padding: 8px;
    box-sizing: border-box;
}

/* Style for the submit button */
form button[type="submit"] {
    background-color: #E9204F;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    margin: 20px;}


form button:hover {
    background-color: #FF5A7D;  
}

.box{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F1ACA4;
    border: 2px solid #65313D;
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
    font-size: medium;
    margin-top: 50px;
}