
body, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Butler, sans-serif !important;
}



header {
    background-color: #f17492;
    color: #fef1f4;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}



p{
    font-family: "Futura ", monospace;
}
img{
    width: 40%;
    height: 100%;
    float: left;
}




.button {
    background-color: #E9204F;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    margin: 20px;
    
    
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;

   
    
}


.button:hover {
    background-color: #FF5A7D; /* Highlight color on hover */
}

.function{
    height: 40%;
}







.function-text{
    padding-top: 10px;
    padding-left: 20px;
   
}

/* Style for the background image */
.background-image {
    background-image: url('/picture/pink-view.jpeg'); 
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 100%;
}
