
body, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Butler, sans-serif !important;
}

.header {
    background-color: #f17492;
    color: #fef1f4;
    text-align: center;
    padding: 20px 0;
}

.header h1 {
    margin: 0;
}

.header h2 {
    color: #FF5A7D;
}

.header p {
    font-family: "Futura", monospace;
    font-weight: light;
}

.button {
    background-color: #E9204F;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

.button-container {
    display: flex;
    gap: 5px;
    justify-content: center; 
}

.button:hover {
    background-color: #FF5A7D; 
}

.function {
    height: 40%;
}

#manage-account {
    background-color: #fee7eb;
}

#generate-report {
    background-color: #f0e4da;
}

#manage-booking {
    background-color: #fee7eb;
}

.function-text {
    padding-top: 10px;
    text-align: center; 
}

/* nav bar */
body {
    margin: 0;
    padding: 0;
}

.navibar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F9B9C3;
    text-align: center; 
}

.navibar a {
    display: inline-block; 
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navibar a.right {
    float: right;
}

.navibar a:hover {
    background-color: #C7949C;
    color: white;
}

