h2 {
    font-family: 'Butler';
    font-size: 30px;
    color: #F490A8;
    text-align: center;
    }

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    }

label {
    font-family: 'Futura';
    font-weight: bold;
    margin-bottom: 8px;
    }

input {
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #65313D;
    border-radius: 4px;
    }

button {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    background-color: #E9204F;
    color: white;
    border-radius: 4px;
    margin-bottom: 20px;
    }

button:hover{
    background-color: #FF5A7D;
    color: white;
    }
