h2 {
    font-family: 'Butler';
    font-size: 30px;
    color: #F490A8;
    text-align: center;
    }

body {
    background-color: #FBE5E3;
    }

form {
    max-width: 400px;
    margin: 0 auto;
    font-family: 'Futura';
    }

label {
    display: block;
    margin-bottom: 8px;
    }

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #65313D;
    border-radius: 4px;
    }

button{
    margin-right: 10px;
    padding: 12px;
    font-size: 16px;
    background-color: #E9204F;
    color: white;
    border-radius: 4px;
    }

button:hover{
    background-color: #FF5A7D;
    color: white;
    }
