.button a {
    display: inline-block;
    padding: 12px;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    }

.button a:hover{
    background-color: gold;
    color: black;
    }

td {
    border: 1px solid silver;
    padding: 12px;
    text-align: left;
    }

tr:hover {
    background-color: whitesmoke;
    }

tr:nth-child(even) {
    background-color: white;
    }

td a {
    display: inline-block;
    padding: 6px 10px;
    margin: 2px;
    color: white;
    background-color: black;
    text-decoration: none;
    border: 1px solid;
    border-radius: 3px;
    }

td a:hover {
    background-color: blue;
    color: white;
    border: 1px solid black;
    }
