h2 {
    font-family: 'Butler';
    font-size: 30px;
    color: #f17492;
    text-align: center;
    }

form {
    font-family: 'Butler';
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid silver;
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
    position: fixed;
    font-size: medium;
    }

button{
    margin-right: 10px;
    padding: 12px;
    font-size: 17px;
    background-color: #db9d95;
    color: #fee7eb;
    border-radius: 4px silver;
    }
    
button:hover{
    background-color: #ab5288;
    color: #f1aca4;
    }

body {
    background-color: #fef1f4;
    }
