h1 {
    font-size: 30px;
    font-family: 'Butler';
    text-align: center;
    color: #F490A8;
    }

body {

    background-color: #FBE5E3;
   
    }
    
form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F1ACA4;
    border: 2px solid #65313D;
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
    font-size: medium;
    }
    
label {
    display: block;
    margin-bottom: 10px; 
    margin-top: 10px;
    }
    
textarea {
    resize: none;
    width: 300px;
    padding: 8px;
    box-sizing: border-box;
    }
    
button{
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
    background-color: #E9204F;
    color: white;
    border-radius: 4px;
    }
    
button:hover{
    background-color: #FF5A7D;
    color: white;
    }

