


body {
    font-family: Futura, sans-serif;
    background-color: #fbe5e3;
    color: #65313D;
}

h1 {
    font-size: 30px;
    font-family: 'Butler';
    text-align: center;
    color: #F490A8;
    }


.hotel-item{
    background-color: #F1ACA4;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



a {
    text-decoration: none;
    color: #E9204F;
    margin-right: 5px;
   
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}


button {
    background-color: #E9204F;
    color: #fff;
    
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FF5A7D;
}


.thin-font {
    font-weight: lighter; 
}
