
body, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Futura, sans-serif;
    background-color: #fbe5e3;
    color: #db6a85;
}



h1 {
    margin: 0;
    font-family: Butler, serif;
    color: #db6a85
}

#ratings-container {
    background-color: #F1ACA4;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


a {
    text-decoration: none;
    color: #E9204F;
    margin-right: 5px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

.box {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFF4F6;



button[type="submit"] {
    background-color: #db9d95;
    color: #fee7eb;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #FF5A7D; 
}

