h1 {
    font-size: 30px;
    font-family: 'Butler';
    text-align: center;
    color: #db6a85;
    }

body {
    margin-top:auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    height: 100vh;
    margin: auto;
    }

.box {
    text-align: center;
    border: 1px solid #ab5368;
    padding: 20px;
    max-width: auto;
    }

.button {
    margin-top: 20px;
    }
