h1 {
    font-size: 30px;
    font-family: 'Butler';
    text-align: center;
    color: #db6a85;
    }

body {
    display: list-item;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fbd4dd
    }

.box {
    text-align: left;
    border: 2px solid #ab5268;
    padding: 20px;
    max-width: 600px; 
    font-family: 'Butler';
    }

.button {
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
    background-color: #db9d95;
    color: #fee7eb;
    border-radius: 4px;
    justify-content: center;
    text-align: center;
    }
    
.button:hover {
    background-color: #ab5288;
    color: #f1aca4;
    text-align: center;
    }

