h1 {
    font-size: 30px;
    font-family: 'Butler';
    text-align: center;
    color: #db6a85;
    }

div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100vh;
    margin: 0;    
    text-align: center;
    border: 1px solid silver;
    padding: 20px; 
    }

h3 {
    text-align: center;
    }

button {
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
    background-color: #db9d95;
    color: #fee7eb;
    border-radius: 4px;
    justify-content: center;
    }
    
button:hover {
    background-color: #ab5288;
    color: #f1aca4;
    }

body {
    background-color: #fbd4dd;
    }

