h1 {
    font-family: 'Butler';
    font-size: 30px;
    color: #f17392;
    text-align: center;
    }
 
.box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    }

.box img {
    width: 100%;
    border-radius: 10px;
}
